{% extends "encyclopedia/layout.html" %}

{% block title %}
   page
{% endblock %}

{% block body %}
   <h1>Edit {{which_page_to_edit}}</h1>
   <form action="/page_edited" method="GET">
      <div>
        {% if which_page_to_edit in entries %}
           <input type="hidden" name="pagename" value="{{which_page_to_edit}}">
        {% endif %}
      </div>
      <textarea name="edit" id="edit"   style="height: 550px;">{{default}}</textarea><br>
      <button type="submit">submit</button>
  </form>
{% endblock %}